<!DOCTYPE html>
<html>
  <head>
    <title>Caravan - Inscricao</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="http://localhost:3333/CSS/bootstrap.css" />
    <link rel="stylesheet" href="http://localhost:3333/CSS/style.css" />
  </head>
  <body>
    <%- include('includes/header.ejs', { locals }) %>

    <section class="container">
      <div class="my-5 text-center">
        <span class="h6 d-block">PROGRAME A VIAGEM DO SEU SONHO</span>
        <h1 class="display-4 text-primary">INSCREVA-SE</h1>
      </div>

      <form class="row" action="">
        <div class="col-lg-6">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNome">Nome</label>
              <input
                type="text"
                class="form-control"
                id="inputNome"
                placeholder="Nome completo"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputBI">BI</label>
              <input
                type="text"
                class="form-control"
                id="inputBI"
                placeholder="xxx.xxx.xxx-xx"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="Seu email"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputSenha">Senha</label>
              <input
                type="password"
                class="form-control"
                id="inputSenha"
                placeholder="Senha de acesso"
              />
            </div>
            <div class="form-group col-12">
              <label for="inputEndereco">Endereço</label>
              <input
                type="text"
                class="form-control"
                id="inputEndereco"
                placeholder="Provincia, número da Casa, nome da rua e bairro."
              />
            </div>
          </div>
          <div class="bg-light rounded box-shadow p-3 form-group">
            <h2 class="h6 text-primary">FORMA DE PAGAMENTO</h2>
            <div class="form-group">
              <label for="inputNumeroCartao">Número do Cartão</label>
              <input
                type="text"
                class="form-control"
                id="inputNumeroCartao"
                placeholder="5555 5555 5555 5555"
              />
            </div>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" />
              Concordo com os <a href="#">Termos e Condições</a>.
            </label>
          </div>

          <button type="submit" class="btn btn-primary btn-lg">
            Contratar Plano
          </button>
        </div>

        <div class="col-lg-5 mx-auto order-first order-lg-1 mb-5">
          <h2 class="h6 text-primary">PLANO ESCOLHIDO</h2>
          <div class="bg-light rounded p-4 box-shadow">
            <h2><%- plano.tipe %></h2>

            <ul class="lista-plano list-unstyled">
              <% for(detalhe of plano.detalhes.split(',') ) { %>
              <li>→ <%- detalhe %></li>
              <% } %>
            </ul>

            <div class="form-group">
              <select
                class="form-control bg-light"
                id="inputCidades"
                name="localId"
              >
                <% for(local of locals ){ %>
                <option value="<%- local.id %>"><%- local.name %></option>
                <% } %>
              </select>
            </div>
            <div class="row mt-4">
              <div class="col">
                <span class="h4"><%- plano.price %> KZ </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <%- include('includes/footer.ejs') %>

    <script
      type="text/javascript"
      src="http://localhost:3333/JS/jquery-3.2.1.slim.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:3333/JS/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:3333/JS/bootstrap.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:3333/JS/app.js"
    ></script>
  </body>
</html>
