<!DOCTYPE html>
<html>
  <head>
    <title>Caravan - Planos</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="./CSS/bootstrap.css" />
    <link rel="stylesheet" href="./CSS/style.css" />
  </head>
  <body>
    <%- include('includes/header.ejs', { locals }) %>

    <!--  Fecha Navegação  -->

    <section class="container">
      <div class="text-center my-5">
        <span class="h6 d-block">SEU PLANO, SUA VIAGEM</span>
        <h1 class="display-4 text-primary">Escolha o Plano</h1>
      </div>
      <div class="row">
        <% for(plano of planos ) { %>
        <div class="col-md mb-5">
          <div class="bg-light rounded p-4 box-shadow">
            <h2><%- plano.tipe %></h2>
            <ul class="lista-plano list-unstyled">
              <% for(detalhe of plano.detalhes.split(',') ) { %>
              <li>→ <%- detalhe %></li>
              <% } %>
            </ul>
            <div class="row align-items-center mt-4">
              <div class="col">
                <a
                  href="/inscricao/<%- plano.id %>"
                  class="btn btn-primary btn-lg btn-block"
                  >Comprar Plano</a
                >
              </div>
              <div class="col">
                <span class="h4"><%- plano.price %> KZ</span>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <!--  Footer  -->
    <%- include('includes/footer.ejs') %>

    <script type="text/javascript" src="./JS/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="./JS/popper.min.js"></script>
    <script type="text/javascript" src="./JS/bootstrap.js"></script>
    <script type="text/javascript" src="./JS/app.js"></script>
  </body>
</html>
